################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CosmeticSalon/FileContentIndex/4d2a74e3-beb9-484e-bb71-39fea7c47c2a.vsidx
