################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CosmeticSalon/FileContentIndex/4d2a74e3-beb9-484e-bb71-39fea7c47c2a.vsidx
/.vs/CosmeticSalon/DesignTimeBuild/.dtbcache.v2
/.vs/CosmeticSalon
/.vs/CosmeticSalon/FileContentIndex/4c90ebf4-8e18-4be9-bda6-6a558f7e93f5.vsidx
/.vs/ProjectEvaluation
